.__editor {
    overflow-y: auto;
    border-radius: 0 0 5px 5px;
    height: 210px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid #e1e2e4;
    padding: 14px 10px;
    background-color: #f3f7fa;
}
.__editor p, .__editor ul, .__editor ol {
    margin: 0 0 8px 0;
}

.__editor:focus {
    outline: none;
}

.__toolbar {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #edf0f5;
    border-top: 1px solid #e1e2e4;
    border-right: 1px solid #e1e2e4;
    border-left: 1px solid #e1e2e4;
}

.__toolbar-item {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 7px;
    min-width: 30px;
    padding: 5px;
}
select.__toolbar-item {
    display: none;
}

.__toolbar-item svg {
    fill: #2f3034;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.__toolbar-item:hover,
.__toolbar-item.active {
    background: #f0f0f0;
}

.__toolbar-separator {
    border: 1px solid #e1e2e4;
    margin-right: 7px;
}

.__toolbar-separator:last-child {
    display: none;
}
.info-text {
    display: block;
    margin: 0 0 0 .5rem;
    color: #6e6e6e;
    font-size: 10px;
    text-align: right;
    line-height: 33px;
}
